<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwinix.mathclock" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ClockActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".TimeService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>

        <receiver android:name=".OneShotAlarm" />
        <receiver android:name=".RepeatingAlarm" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmCancel"
            android:label="@string/title_activity_alarm_cancel"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
    </application>

</manifest>
